<br>
<h1>Rock</h1>

<div class="new-record">
  <% @records.each do |record| %>
    <% if record.genre == 'Rock' %>
      <a href="/records/<%= record.id %>"><%= record.record_name %></a>
      <% end %>
  <% end %>
</div>

<br>
<h1>Pop</h1>

<div class="new-record">


  <% @records.each do |record| %>
    <% if record.genre == 'Pop' %>
        <a href="/records/<%= record.id %>"><%= record.record_name %></a>
    <% end %>
  <% end %>
</div>

<br>
<h1>Country</h1>

<div class="new-record">
  <% @records.each do |record| %>
    <% if record.genre == 'Country' %>
      <a href="/records/<%= record.id %>"><%= record.record_name %></a>
    <% end %>
  <% end %>
</div>

<br>
<h1>Jazz</h1>

<div class="new-record">
  <% @records.each do |record| %>
    <% if record.genre == 'Jazz' %>
      <a href="/records/<%= record.id %>"><%= record.record_name %></a>
    <% end %>
  <% end %>
</div>
