<div class="new-record">

  <form class="form" action="/records/<%= @record.id %>" method="post">

    <label for="student">Record Name</label>
      <input type="text" name="record_name" value="<%= @record.record_name %>"/>
      <br>
    <label for="record">Artist ID</label>
      <input type="text" name="artist_id" value="<%= @record.artist_id %>"/>
      <br>
    <label for="record">Genre</label>
      <input type="text" name="genre" value="<%= @record.genre %>"/>
      <br>
    <label for="record">Stock</label>
      <input type="text" name="stock" value="<%= @record.stock%>"/>
      <br>
    <label for="record">Buying Cost</label>
      <input type="text" name="buying_cost" value="<%= @record.buying_cost%>"/>
      <br>
    <label for="record">Selling Price</label>
      <input type="text" name="selling_price" value="<%= @record.selling_price%>"/>
      <br>
    <input type="submit" value="Edit">
  </form>

</div>
