<div class="new-record">

  <form class="form" action="/records/<%= @record.id %>" method="post">

    <label for="student">Record Name</label>
      <input type="text" name="record_name" value="<%= @record.record_name %>"/>
      <br>

    <label for="artist">Artist</label>
      <select id="artist" name="artist_id">
        <% @artists.each do |artist| %>
        <option value="<%= artist.id %>" <%= "selected" if @record.artist_id == artist.id %>>
          <%= artist.name %>
        </option>
        <% end %>
      </select>

      <br>

    <label for="genre">Genre</label>
      <select id="genre" name="genre">
        <option value="Rock">Rock</option>
        <option value="Pop">Pop</option>
        <option value="Country">Country</option>
        <option value="Jazz">Jazz</option>
      </select>
      <br>
    <label for="record">Stock</label>
      <input type="text" name="stock" value="<%= @record.stock%>"/>
      <br>
    <label for="record">Buying Cost</label>
      <input type="text" name="buying_cost" value="<%= @record.buying_cost%>"/>
      <br>
    <label for="record">Selling Price</label>
      <input type="text" name="selling_price" value="<%= @record.selling_price%>"/>
      <br>
    <input type="submit" value="Edit">
  </form>

</div>
