<h1><%= @records.name %></h1>
<h2><%= @records.artists().name %></h2>

<p> Genre: <%= @records.genre %></p>
<p> Stock: <%= @records.stock %></p>
<p> Buying Cost: <%= @records.buying_cost %></p>
<p> Selling Price: <%= @records.selling_price %></p>
