  <div id="records">
  <% @records.each do |record| %>
    <div>
      <a href="/records/<%= record.id %>" class="records">
      <img class="vinyl" src="/images/vinyl.png" alt=""></a><br>
      <a href="/records/<%= record.id %>" class="records"><%= record.record_name %></a>
      <br>
      <a href="/artists/<%= record.artist_id%>" class="artists"><%= record.artists().name %></a>
      <br>
    </div>
  <% end %>
  </div>
  
  <div class="new-record">
    <a href="/records/new">New Record</a>
  </div>
