<h1 style="text-transform: capitalize;"><%= @label.name %></h1>


<div class="new-record">
  <p> Contact: <%= @label.contact %></p>
</div>


<ul>
  <% @label.artists().each do |artist| %>
  <li><a href="/artists/<%= artist.id %>"><%= artist.name %></a></li>
  <% end %>
</ul>

<div class="new-record">
  <a href="/labels/<%= @label.id %>/edit">Edit Label</a>
  <br>
  <form action="/labels/<%= @label.id %>/delete" method="post"><br>
    <button type="submit" name="button">Delete Label</button>
  </form>
</div>
