<h1><%= @label.name %></h1>
<p> Contact: <%= @label.contact %></p>

<ul>
  <% @label.artists().each do |artist| %>
  <li><a href="/artists/<%= artist.id %>"><%= artist.name %></a></li>
  <% end %>
</ul>

<a href="/labels/<%= @label.id %>/edit">Edit Label</a>
<br>
<form action="/labels/<%= @label.id %>/delete" method="post">
  <button type="submit" name="button">Delete Label</button>
</form>
